@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --header-color: #360D35;
  --header-font-color: #CDC3CD;
  --sidebar-color: #400E3F;
  --sidebar-font-color: #CDC3CD;
  --sidebar-hover: #360D35;
  --workspace-color: #FFFFFF;
  --search-color: #FFFFFF;
  --chatarea-color: #FFFFFF;
  --channelinfo-color: #616061;
  --chatbutton-color: #5E5E5E;
  --profile-font-color: #626162;
  --border-color: #DCDCDC;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=text],
input[type=text]:focus {
  outline: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
}